
    [btn-hover-anim="underline"] {
        position: relative;
    }
    
    @media (hover: hover) and (pointer: fine) {
        [btn-hover-anim="underline"]::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            border-radius: 5px;
            height: 1.5px;
            bottom: 0;
            left: 0;
            background: currentcolor;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        
        [btn-hover-anim="underline"]:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
