
            .rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08 .rm-pattern-badge-1 {
    --rm-pattern-badge-padding: 8px 20px;
    --rm-pattern-badge-background-color: #222;
    --rm-pattern-badge-label-color: #FFF;
    --rm-pattern-badge-line-height: 150%;
    --rm-pattern-badge-label-size: 14px;
    --rm-pattern-badge-label-weight: 400;
    --rm-pattern-badge-radius: 0;
    display: inline-flex;
    padding: var(--rm-pattern-badge-padding);
    border-radius: var(--rm-pattern-badge-radius);
    background: var(--rm-pattern-badge-background-color);
    text-align: center;
    font-size: var(--rm-pattern-badge-label-size);
    font-weight: var(--rm-pattern-badge-label-weight);
    line-height: var(--rm-pattern-badge-line-height);
    color: var(--rm-pattern-badge-label-color)
}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08{}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08 .rm-pattern-badge-1{--rm-pattern-badge-line-height: 150%;white-space: wrap;--rm-pattern-badge-label-weight: 400;--rm-pattern-badge-background-color: #222;--rm-pattern-badge-label-color: #FFF;}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08{margin: 0px 0px 0px 0px;top: 0px; bottom: auto;left: 0px; right: auto;}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08 .rm-pattern-badge-1{--rm-pattern-badge-padding: 8px 20px 8px 20px;--rm-pattern-badge-padding-left: 20px;--rm-pattern-badge-label-size: 14px;}@media(max-width: 767px){.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08{margin: 0px 0px 0px 0px;top: 0px; bottom: auto;left: 0px; right: auto;}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa761a72ea02faf9761a08 .rm-pattern-badge-1{--rm-pattern-badge-padding: 5px 15px 5px 15px;--rm-pattern-badge-padding-left: 15px;--rm-pattern-badge-label-size: 12px;}}
.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845 .rm-pattern-badge-1 {
    --rm-pattern-badge-padding: 8px 20px;
    --rm-pattern-badge-background-color: #222;
    --rm-pattern-badge-label-color: #FFF;
    --rm-pattern-badge-line-height: 150%;
    --rm-pattern-badge-label-size: 14px;
    --rm-pattern-badge-label-weight: 400;
    --rm-pattern-badge-radius: 0;
    display: inline-flex;
    padding: var(--rm-pattern-badge-padding);
    border-radius: var(--rm-pattern-badge-radius);
    background: var(--rm-pattern-badge-background-color);
    text-align: center;
    font-size: var(--rm-pattern-badge-label-size);
    font-weight: var(--rm-pattern-badge-label-weight);
    line-height: var(--rm-pattern-badge-line-height);
    color: var(--rm-pattern-badge-label-color)
}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845{}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845 .rm-pattern-badge-1{--rm-pattern-badge-line-height: 150%;white-space: wrap;--rm-pattern-badge-label-weight: 400;--rm-pattern-badge-background-color: #222;--rm-pattern-badge-label-color: #FFF;}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845{margin: 0px 0px 0px 0px;top: 0px; bottom: auto;left: 0px; right: auto;}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845 .rm-pattern-badge-1{--rm-pattern-badge-padding: 8px 20px 8px 20px;--rm-pattern-badge-padding-left: 20px;--rm-pattern-badge-label-size: 14px;}@media(max-width: 767px){.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845{margin: 0px 0px 0px 0px;top: 0px; bottom: auto;left: 0px; right: auto;}.rm-product-badge-wrap .rm-product-badge#rm-product-badge-69aa72e172ea02faf9761845 .rm-pattern-badge-1{--rm-pattern-badge-padding: 5px 15px 5px 15px;--rm-pattern-badge-padding-left: 15px;--rm-pattern-badge-label-size: 12px;}}

        