
.eyes-st0 {
fill: #FFFFFF;
stroke: #000000;
stroke-width: 3;
stroke-miterlimit: 9.9999;
}
.eyes-st1 {
fill: #FFFFFF;
}
.eyes-st2 {
stroke: #000000;
stroke-width: 3;
stroke-miterlimit: 9.9999;
}
.eyes-st3 {
fill: #F8D8D8;
stroke: #000000;
stroke-width: 3;
stroke-miterlimit: 9.9999;
}
.eyes-st4 {
fill: #FF4E1B;
}
