
  
    #rd-text-kd0gxbsf {
      display: block;
      border-bottom-style: none;
      border-color: #000000;
      border-left-style: none;
      border-radius: 0px;
      border-right-style: none;
      border-top-style: none;
      border-width: 1px;
      min-height: auto0px;
      max-width: 446px;
      margin-top: 12px;
      margin-bottom: 12px;
      align-self: flex-start;
      width: 100%;
      word-break: break-word;
    }
  

  
