
  
  #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A-overlay {
    position: fixed !important;
    z-index: 99998;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    display: block !important;
    background: transparent !important;
    opacity: .6 !important;
  }

  #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A-wrapper {
    position: fixed;
    z-index: 99999;
    letter-spacing: normal;
  }

  #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A {
    position: relative;
    display: block !important;
    min-width: 500px;
    min-height: 1px;
    width: 500px;
    box-shadow: 0px 0px 8px #333;
    border-bottom-style: solid;
    border-color: #ffffff;
    border-left-style: solid;
    border-radius: 0px;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1px;
    background-color: #888888;
    z-index: 999999 !important;
  }

  @media screen and (max-width: 767px) {
    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A {
      position: relative;
      display: block !important;
      min-height: 1px;
      min-width: inherit;
      width: 100%;
      box-shadow: 0px 0px 8px #333;
      border-bottom-style: solid;
      border-color: #ffffff;
      border-left-style: solid;
      border-radius: 0px;
      border-right-style: solid;
      border-top-style: solid;
      border-width: 1px;
      background-color: #888888;
      z-index: 999999 !important;
      height: auto;
      max-height: 100%;
      overflow: auto;
    }
  }
  
