
  
    #rd-text-dk3tvgr2 {
      display: block;
      border-bottom-style: none;
      border-color: #000000;
      border-left-style: none;
      border-radius: 0px;
      border-right-style: none;
      border-top-style: none;
      border-width: 1px;
      min-height: autopx;
      max-width: 340px;
      margin-top: 10px;
      margin-bottom: 2px;
      align-self: flex-start;
      width: 100%;
      word-break: break-word;
    }
  

  
