
  
    #rd-box-kd0h0qwg {
      
          background-color: rgba(255,255,255,1);
        
      border-bottom-style: solid;
      border-color: #cacaca;
      border-left-style: solid;
      border-radius: 6px;
      border-right-style: none;
      border-top-style: none;
      border-width: 1px;
      padding-top: 0px;
      padding-right: 12px;
      padding-bottom: 0px;
      padding-left: 12px;
      min-height: -1px;
      margin-top: 15px;
      margin-bottom: 10px;
      max-width: 420px;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
    }
  

  
