
  
    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A {
      display: flex;
      flex-direction: column;
      align-self: center;
      max-width: 548px;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 30px;
    }

    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .bricks-form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .bricks-form__fieldset {
      align-items: flex-start;
    }

    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .bricks-form__label.always-visible,
    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .bricks-form__field__option .bricks-form__label {
      display: inline-block;
    }

    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .bricks-form__input.select2-container {
      padding: 0 !important;
    }

    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .select2-container .select2-choice .select2-arrow b {
      background-position: 0 7px !important;
    }

    #bricks-component-Qjx2u6Hq9QvI00dTnLZ_2A .bricks-form__submit {
      display: flex;
      flex-direction: column;
    }
  
