
  /* Apply font smoothing */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  /* Reset apple form styles */
  input, textarea, select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; border-radius: 0; 
    background-image: none; 
  }

  /* Color mode mods */
  html.u-mode-dark [data-component="logo"],
  html.u-mode-dark [data-dark-mode-invert] {
    filter: invert(100%);
  }
  html.u-mode-dark [data-logo-mode-override="true"] [data-component="logo"] {
    filter: none;
  }

  /* Adjust input autofill to brand colors */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    background-color: var(--colors--background) !important;
    color: var(--colors--text) !important;
    -webkit-box-shadow: 0 0 0 50px var(--colors--background) inset;
    -webkit-text-fill-color: var(--colors--text);
  }

  /* Text Selection Color */
  ::selection {
    background: var(--colors--text);
    color: var(--colors--background);
  }
  ::-moz-selection {
    background: var(--colors--text);
    color: var(--colors--background);
  }

  /* Rich text modifiers */
  .w-richtext > :first-child {
    margin-top: 0;
  }
  .rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4 {
    text-wrap: pretty;
  } 
  .rich-text p, .article-rich-text p {
    font-variation-settings: inherit;
  }
  .u-text-balance .rich-text p,
  .u-text-balance .article-rich-text p {
    text-wrap: balance;
  }

  .u-child-contain > * {
    width: 100%;
    max-width: inherit !important;
    margin-inline: 0 !important;
    margin-top: 0 !important;
  }

  /* Row/col gap modifiers */
  @media (max-width: 991px) {  
    .row.row-gap-md-0 .col {
      margin: 0;
      padding: 0;
    }  
  }     
  @media (max-width: 767px) {  
    .row.row-gap-sm-0 .col {
      margin: 0;
      padding: 0;
    }  
  }
  .row.row-gap-0 .col {
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {    
    .row.row-gap-xl .col {
      padding-left: calc(var(--_layout---grid--gap-xl) / 2);
      padding-right: calc(var(--_layout---grid--gap-xl) / 2);
    }
  }  
  .row.row-gap-lg .col {
    padding-left: calc(var(--_layout---grid--gap-lg) / 2);
    padding-right: calc(var(--_layout---grid--gap-lg) / 2);
  }  
  .row.row-gap-md .col {
    padding-left: calc(var(--_layout---grid--gap-md) / 2);
    padding-right: calc(var(--_layout---grid--gap-md) / 2);
  }
  .row.row-gap-sm .col {
    padding-left: calc(var(--_layout---grid--gap-sm) / 2);
    padding-right: calc(var(--_layout---grid--gap-sm) / 2);
  }
  .row.row-gap-xs .col {
    padding-left: calc(var(--_layout---grid--gap-xs) / 2);
    padding-right: calc(var(--_layout---grid--gap-xs) / 2);
  }
  .row.row-gap-button .col {
    padding-left: calc(var(--_layout---grid--gap-sm) / 2);
    padding-right: calc(var(--_layout---grid--gap-sm) / 2);
  }
  .row.row-gap-button:has([data-wf--button--variant="text"]) {
    row-gap: var(--_layout---grid--gap-md);
    margin-left: calc(var(--_layout---grid--gap-md) / 2 * -1);
    margin-right: calc(var(--_layout---grid--gap-md) / 2 * -1);
  }
  .row.row-gap-button:has([data-wf--button--variant="text"]) .col {
    padding-left: calc(var(--_layout---grid--gap-md) / 2);
    padding-right: calc(var(--_layout---grid--gap-md) / 2);
  }

  /* Line clamp modifiers */
  .u-text-clamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .u-text-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .u-text-clamp-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .u-text-clamp-4 {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  /* Build mode modifiers */
  .slot.cc-column .btn {
    align-self: flex-start;
  }
  .slot > .heading-component:last-child *,
  .slot > .rich-text-component:last-child .rich-text > *:last-child,
  .rich-text-component.u-mb-0 .rich-text > *:last-child {
    margin-bottom: 0;
  }
  .card:has(> .u-link-cover:focus-visible) {
    outline: 2px solid var(--_color---primary--webflow-blue);
    outline-offset: 2px;
  }

  [data-wf--nav--variant="ctas-only"] .nav-menu_btn {display: none !important;}  

  [data-section="hide-empty"]:has(.w-dyn-empty) {display: none;}


  /* Margin Trim */
  :is(.u-margin-trim,.u-rich-text) > :not(:not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim) ~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim)),
  :is(.u-margin-trim,.u-rich-text) > :not(:not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim) ~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim)).u-display-contents > :first-child {
    margin-top: 0;
  }
  :is(.u-margin-trim,.u-rich-text) > :not(:has(~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim))),
  :is(.u-margin-trim,.u-rich-text) > :not(:has(~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim))).u-display-contents > :last-child {
    margin-bottom: 0;
  }
